@import '../abstracts/_variables';
@import '../abstracts/_mixins';
@import '../base/_font';
@import '../base/_typography';
@import './_responsive.scss';
@import '../abstracts/_placeholder';

footer {
  background-color: $color-primary;
  @extend %flex-center-column;

  h2 {
    font-family: $font-luxurious-script;
    color: $color-secondary;
    font-size: $font-size-xxlarge;
  }
  .lineh2 {
    position: relative;
    bottom: 15px;
    width: 250px;
    height: 2px;
    background-color: $color-secondary;
  }
  .time-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-time {
  font-family: $font-jost;
  &-weekdays {
      font-weight: normal;
      font-size: 15px;
  }
  &-hours {
    font-family: $font-jost;
    font-weight: 300;
    font-size: 14px;
  }
} 

.footer-adress {
  font-family: $font-jost;
  font-weight: 500;
  font-size: $font-size-small;
}

.footer-contact {
  font-family: $font-jost;
  font-weight: 500;
  font-size: 14px;
}

.footer-greeting {
  font-family: $font-luxurious-script;
  font-size: 15px;
}

.footer-legal {
  font-family: $font-jost;
  font-weight: 300;
  font-size: 9px;
}
